.highlight,
.highlightRev {
  position: relative;
  overflow: hidden;
}

.highlight *,
.highlightRev * {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  text-transform: capitalize;
  text-align: center;
}

.highlight h3,
.highlightRev h3 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 117.4%;
  margin-bottom: 1.5rem;
}

.highlight p,
.highlightRev p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 169.6%;
}

.highlight span,
.highlightRev span {
  color: #96d07b;
}

.highlight button,
.highlightRev button {
  padding: 1rem 3.125rem;
  margin-top: 1.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 190.6%;

  background: #ed3a26;
  border-radius: 8px;
  cursor: pointer;
}

.highlight button:hover,
.highlightRev button:hover {
  background: darkred;
  transition: 0.5s;
}

.highlightBg > img {
  display: block;
  max-width: 50%;
}

.highlightRev:last-child > .highlightBg > img {
  max-width: 70%;
}

.highlight .highlightBg > img {
  margin-left: auto;
}

.highlightBg > img:hover {
  scale: 1.1;
  transition: 1s;
}

#highlightBgWithAnimation {
  width: min-content;
  position: relative;
  overflow: hidden;
}

#highlightBgWithAnimation > img {
  padding: 10rem 0;
  margin-left: auto;
  animation: bounce 0.4s ease infinite alternate;
}

#highlightBgWithAnimation > img:nth-child(1) {
  position: absolute;
  top: -8rem;
  right: 0;
  z-index: 3;
}

#highlightBgWithAnimation > img:nth-child(2) {
  position: absolute;
  top: -5rem;
  left: 0;
  z-index: 1;
}

#highlightBgWithAnimation > img:nth-child(3) {
  animation: none;
  position: relative;
  z-index: 2;
}

@keyframes bounce {
  0% {
    text-shadow: 0 5px 0 #ccc, 0 2px 3px rgba(0, 0, 0, 1);
  }
  100% {
    transform: translateY(-20px);
    text-shadow: 0 50px 0 black, 0 0px 20px rgba(0, 0, 0, 0.8);
  }
}

.highlightText {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 600px;
}

.highlight > .highlightText {
  left: 10%;
}

.highlightRev > .highlightText {
  right: 10%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .highlightText {
    position: static;
    transform: translate(0, 0);
  }

  .highlightText {
    padding: 1rem;
  }
  .highlight button,
  .highlightRev button {
    display: block;
    margin: 0 auto;

    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .highlightBg > img {
    margin: 0 auto;
  }
  .highlight,
  .highlightRev {
    margin-bottom: 2rem;
  }

  .highlight h3,
  .highlightRev h3 {
    font-size: 2rem;
  }
  .highlight p,
  .highlightRev p {
    font-size: 1rem;
  }

  #highlightBgWithAnimation {
    width: 80%;
    margin: 0 auto;
  }
  #highlightBgWithAnimation > img:nth-child(3) {
    max-width: 100%;
  }
  #highlightBgWithAnimation > img:nth-child(1) {
    width: 50%;
    top: -3rem;
  }
  #highlightBgWithAnimation > img:nth-child(2) {
    width: 25%;
    top: -1rem;
  }
}
